* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: '100vh';
}

.button_style {
  margin: 0 auto;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-around;
}